.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.offscreen{display:block;text-indent:-9999px;}
.align-right{text-align:right;}
.centro{width:960px;padding:0 0;margin:0 auto;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
body{border-top:5px #f1f1f1 solid;}body header{background-color:#fff;height:182px;border-bottom:1px #c8c8c8 solid;}body header .centro{position:relative;}
body header #home-link{display:block;position:absolute;top:25px;left:0;}
body header #barra-superior{width:500px;height:40px;font-size:0;top:35px;right:0;position:absolute;}body header #barra-superior .telefone{display:inline-block;*display:inline;zoom:1;vertical-align:top;height:40px;line-height:42px;width:365px;background:url('../_imgs/layout/bg_menu.png') left top repeat-x;text-align:center;font-family:'Verdana','Arial',sans-serif;font-weight:bold;font-size:14px;color:#fff;}
body header #barra-superior .linguagem{display:inline-block;*display:inline;zoom:1;vertical-align:top;height:24px;width:114px;border-left:1px #fff solid;padding:8px 10px;background:#e6e6e6;white-space:nowrap;}body header #barra-superior .linguagem a{margin-right:5px;width:24px;height:24px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}
body header nav{position:absolute;top:115px;right:0;height:73px;z-index:999;}body header nav ul{list-style:none;}body header nav ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-left:35px;height:73px;}body header nav ul li a{font-family:'OswaldL','Verdana','Arial',sans-serif;font-size:20px;font-weight:lighter;color:#848484;display:block;height:63px;border-bottom:10px transparent solid;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body header nav ul li a:active,body header nav ul li a:visited{color:#848484;}
body header nav ul li a:hover,body header nav ul li a.ativo{color:#344b75;border-bottom:10px #344b75 solid;}
body .main{background:url('../_imgs/layout/bg.png');min-height:600px;padding:30px 0 50px 0;font-size:0;}body .main h1{font-family:'Oswald','Verdana','Arial',sans-serif;font-size:21px;font-weight:normal;border-bottom:1px #c8c8c8 solid;height:30px;margin-bottom:13px;color:#344b75;}
body .main .coluna-lateral{width:300px;margin-right:30px;margin-bottom:25px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}body .main .coluna-lateral ul{list-style:none;}body .main .coluna-lateral ul li{margin-bottom:8px;border-left:5px #344b75 solid;height:40px;line-height:40px;color:#c8c8c8;}body .main .coluna-lateral ul li a{padding-left:14px;display:block;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;background:#e6e6e6;color:#5b5b5b;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body .main .coluna-lateral ul li a:active,body .main .coluna-lateral ul li a:visited{color:#5b5b5b;}
body .main .coluna-lateral ul li a:hover,body .main .coluna-lateral ul li a.ativo{background:#344b75;color:#fff;}
body .main .coluna-lateral .box-cinza{background:rgba(235, 235, 235, 0.8);color:#5B5B5B;text-align:center;padding:20px;line-height:130%;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body .main .coluna-lateral .box-cinza:active,body .main .coluna-lateral .box-cinza:visited{color:#5b5b5b;}
body .main .coluna-lateral .link-destaque{height:53px;line-height:53px;text-align:center;font-family:'Oswald','Verdana','Arial',sans-serif;font-size:20px;font-weight:normal;color:#fff;display:block;background:url('../_imgs/layout/bg_programe-sua-viagem.png') #495d83 left top repeat-x;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
body .main .coluna-lateral .link-destaque:hover{background:url('../_imgs/layout/bg_programe-sua-viagem.png') #495d83 left 52px repeat-x;}
body .main .coluna-direita{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:630px;}
body footer{border-top:5px #dfdcd7 solid;}body footer .superior{background:#344b75;}body footer .superior .centro{padding:20px 0;position:relative;}body footer .superior .centro .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:105px;}body footer .superior .centro .coluna ul{list-style:none;}body footer .superior .centro .coluna ul li{color:#b4cdf6;font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:normal;}body footer .superior .centro .coluna ul li a{font-family:'Verdana','Arial',sans-serif;font-size:11px;font-weight:normal;color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body footer .superior .centro .coluna ul li a:active,body footer .superior .centro .coluna ul li a:visited{color:#fff;}
body footer .superior .centro .coluna ul li a:hover{color:#b4cdf6;}
body footer .superior .centro #box-container{width:555px;height:50px;position:absolute;right:0;top:20px;font-size:0;white-space:nowrap;}body footer .superior .centro #box-container .box{height:34px;padding:10px 12px 6px 45px;width:121px;margin-right:10px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}body footer .superior .centro #box-container .box.telefone{font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:normal;color:#344b75;line-height:170%;}body footer .superior .centro #box-container .box.telefone.brasil{background:url('../_imgs/layout/br.png') #f1f1f1 12px 8px no-repeat;}
body footer .superior .centro #box-container .box.telefone.china{background:url('../_imgs/layout/ch.png') #f1f1f1 12px 8px no-repeat;}
body footer .superior .centro #box-container .box.email{font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:normal;color:#fff;line-height:170%;background:url('../_imgs/layout/email.png') #2c4063 12px 8px no-repeat;}
body footer .superior .centro #box-container .box strong{font-weight:bold;}
body footer .superior .centro #box-container .box a{color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body footer .superior .centro #box-container .box a:active,body footer .superior .centro #box-container .box a:visited{color:#fff;}
body footer .superior .centro #box-container .box a:hover{color:#B4CDF6;}
body footer .inferior{background:#2c4063;}body footer .inferior .centro{height:40px;line-height:40px;font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:normal;color:#fff;}body footer .inferior .centro a{float:right;font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:normal;color:#fff;}body footer .inferior .centro a img{vertical-align:-4px;margin-left:7px;}
body footer .inferior .centro a span{border-bottom:1px transparent solid;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
body footer .inferior .centro a:active,body footer .inferior .centro a:visited{color:#fff;}
body footer .inferior .centro a:hover span{border-bottom:1px #fff dotted;}
