@import 'vars.less';

body{
	border-top:5px @cinza_claro solid;
	header{
		background-color:#fff;
		height:182px;
		border-bottom:1px @cinza_escuro solid;
		.centro{
			position:relative;
		}
		#home-link{
			display:block;
			position:absolute;
			top:25px;
			left:0;
		}
		#barra-superior{
			width:500px;
			height:40px;
			font-size:0;
			top:35px;
			right:0;
			position:absolute;
			.telefone{
				.inline;
				height:40px;
				line-height:42px;
				width:365px;
				background:url('../_imgs/layout/bg_menu.png') left top repeat-x;
				text-align:center;
				font-family: 'Verdana', 'Arial', sans-serif;
				font-weight:bold;
				font-size:14px;
				//font-size:14px\9;
				color:#fff;
			}
			.linguagem{
				.inline;
				height:24px;
				width:114px;
				border-left:1px #fff solid;
				padding:8px 10px;
				background:@cinza_medio;
				white-space:nowrap;
				a{
					margin-right:5px;					
					width:24px;
					height:24px;
					.inline;
					&:active, &:visited{}
					&:hover, &.ativo{}
				}
			}
		}
		nav{
			position:absolute;
			top:115px;
			right:0;
			height:73px;
			z-index:999;
			ul{
				list-style:none;
				li{
					.inline;
					margin-left:35px;
					height:73px;
					a{
						.oswaldL(20px, lighter);
						color:#848484;
						display:block;
						height:63px;
						border-bottom:10px transparent solid;
						.transition;
						&:active, &:visited{color:#848484;}
						&:hover, &.ativo{
							color:@azul;
							border-bottom:10px @azul solid;
						}
					}
				}
			}
		}
	}
	.main{
		background:url('../_imgs/layout/bg.png');
		min-height:600px;
		padding:30px 0 50px 0;
		font-size:0;
		h1{
			.oswald(21px);
			border-bottom:1px @cinza_escuro solid;
			height:30px;
			margin-bottom:13px;
			color:@azul;
		}
		.coluna-lateral{
			width:300px;
			margin-right:30px;
			margin-bottom:25px;
			.inline;
			ul{
				list-style:none;
				li{
					margin-bottom:8px;
					border-left:5px @azul solid;
					height:40px;
					line-height:40px;
					color:@cinza_escuro;					
					a{
						padding-left:14px;
						display:block;
						.verdana(12px, bold);
						background:#e6e6e6;
						color:#5b5b5b;
						.transition;
						&:active, &:visited{color:#5b5b5b;}
						&:hover, &.ativo{
							background:@azul;
							color:#fff;
						}
					}
				}
			}
			.box-cinza{
				background:rgba(235, 235, 235, 0.8);
				color:#5B5B5B;
				text-align:center;
				padding:20px;
				line-height:130%;
				.verdana(12px, bold);
				.transition;
				&:active, &:visited{color:#5b5b5b;}				
			}
			.link-destaque{
				height:53px;
				line-height:53px;
				text-align:center;
				.oswald(20px);
				color:#fff;
				display:block;
				background:url('../_imgs/layout/bg_programe-sua-viagem.png') #495d83 left top repeat-x;
				.transition;
				&:active, &:visited{}
				&:hover{
					background:url('../_imgs/layout/bg_programe-sua-viagem.png') #495d83 left 52px repeat-x;					
				}
			}
		}
		.coluna-direita{
			.inline;
			width:630px;
		}
	}
	footer{
		border-top:5px #dfdcd7 solid;
		.superior{
			background:@azul;
			.centro{
				padding:20px 0;
				position:relative;
				.coluna{
					.inline;
					width:105px;
					ul{
						list-style:none;
						li{
							color:#b4cdf6;
							.verdana(10px);
							a{
								.verdana(11px);
								color:#fff;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover{color:#b4cdf6;}
							}
						}
					}
				}
				#box-container{
					width:555px;
					height:50px;
					position:absolute;
					right:0;
					top:20px;
					font-size:0;
					white-space:nowrap;
					.box{
						height:34px;
						padding:10px 12px 6px 45px;
						width:121px;
						margin-right:10px;
						.inline;
						&.telefone{
							.verdana(10px);
							color:@azul;
							line-height:170%;
							&.brasil{background:url('../_imgs/layout/br.png') #f1f1f1 12px 8px no-repeat;}
							&.china{background:url('../_imgs/layout/ch.png') #f1f1f1 12px 8px no-repeat;}
						}
						&.email{
							.verdana(10px);
							color:#fff;
							line-height:170%;
							background:url('../_imgs/layout/email.png') #2c4063 12px 8px no-repeat;
						}
						strong{ font-weight:bold; }
						a{
							color:#fff;
							.transition;
							&:active, &:visited{ color:#fff; }
							&:hover{
								color:#B4CDF6;
							}
						}
					}
				}
			}
		}
		.inferior{
			background:#2c4063;
			.centro{
				height:40px;
				line-height:40px;
				.verdana(10px);
				color:#fff;
				a{
					float:right;
					.verdana(10px);
					color:#fff;
					img{ 
						vertical-align:-4px; 
						margin-left:7px;
					}
					span{ 
						border-bottom:1px transparent solid;
						.transition;
					}
					&:active, &:visited{color:#fff;}
					&:hover{
						span{ border-bottom:1px #fff dotted; }
					}
				}
			}
		}
	}
}
