@import 'vars.less';

.main-home{
	#slideshow{
		width:630px;
		height:283px;
		position:relative;
		.inline;
		#navegacao{
			position:absolute;
			width:12px;
			z-index:999;
			height:243px;
			top:18px;
			right:18px;
			a{
				display:block;
				width:12px;
				height:78px;
				margin-bottom:3px;
				background:rgba(80, 101, 132, .8);
				.transition;
				&:hover, &.activeSlide{
					background:#fff;
				}
			}
		}
		#animate{
			position:absolute;
			top:0;
			left:0;
			.slide{
				position:absolute;
				top:0;
				left:0;
				img{
					position:absolute;
					top:0;
					left:0;
					z-index:1;
				}
				.texto{
					z-index:2;
					padding:15px;
					width:350px;
					position:absolute;
					left:0;
					top:20px;
					color:#fff;
					.verdana(12px);
					line-height:140%;
					background-color:rgba(112, 127, 160, 0.8);
				}
			}
		}
	}
	#faixa{
		margin:10px 0 28px 0;
		padding:20px 0;
		border-top:1px #c6c6c6 solid;
		border-bottom:1px #c6c6c6 solid;
		.georgia(19px, normal);
		font-style: italic;
		text-align: center;
		color:#6d6d6d;
	}
	#chamadas-home-container{
		font-size:0;
		margin-top:60px;
		.coluna{
			.inline;
			width:256px;
			margin-right:30px;					
			padding:22px 22px 57px 22px;
			background:rgba(219,219,219,.4);
			position:relative;
			&.ultima{ margin-right:0; }
			h2{
				.oswald(17px);
				color:@azul;
				line-height:100%;
				padding-top:90px;
				text-align:center;
				margin-bottom:10px;
				margin-top:-60px;
				&.goog{background:url('../_imgs/layout/home_pesquisa.png') center top no-repeat;}
				&.check{background:url('../_imgs/layout/home_controle.png') center top no-repeat;}
				&.cog{background:url('../_imgs/layout/home_desenvolvimento.png') center top no-repeat;}
			}
			p{
				.verdana(12px);
				color:#626262;
				line-height:160%;
				text-align:justify;
			}
			a{
				width:100px;
				display:block;
				height:28px;
				line-height:28px;
				text-align:center;
				background:url('../_imgs/layout/bg_saiba-mais.png') #495d83 left top repeat-x;
				color:#fff;
				position:absolute;
				bottom:15px;
				left:100px;
				.georgia(14px, bold);
				font-style:italic;
				.transition;
				&:active, &:visited{ color:#fff; }
				&:hover{
					background:url('../_imgs/layout/bg_programe-sua-viagem.png') #495d83 left 28px repeat-x;							
				}
			}
		}
	}
	#barra-newsletter{
		background-color:@vermelho;
		margin-top:25px;
		height:29px;
		padding:10px 15px;
		overflow:hidden;
		.titulo{
			.oswaldL(20px);
			color:#fff;
		}
		#mensagem-newsletter{
			float:right;
			height:29px;
			line-height:29px;
			width:405px;
			background:url('../_imgs/layout/bg_enviar-newsletter.png') #8a0c21 left top repeat-x;
			.verdana(14px);
			color:#fff;
			text-align:center;
			.transition;
			&.hid{
				color:@vermelho;
				height:0;
			}
		}
		form{
			float:right;
			height:29px;
			.transition;
			&.hid{
				height:0 !important;
				input{height:0 !important; padding:0 !important;border:0 !important;margin:0 !important;}
			}
			input{
				.inline;
			}
			input[type="text"],
			input[type="email"]{
				padding:7px;
				height:15px;
				line-height:15px;
				border:0;
				margin:0;
				color:@vermelho;
				.verdana(14px);
				width:133px;
			}
			input[type="text"]{ margin-right:5px; }
			input[type="email"]{ margin-right:10px; }
			input[type="submit"]{
				width:95px;
				height:29px;
				line-height:29px;
				text-align:center;
				color:#fff;
				border:0;
				margin: 0;
				padding:0;
				background:url('../_imgs/layout/bg_enviar-newsletter.png') #8a0c21 left top repeat-x;
				.oswald(14px);
				.transition;
				&:hover{
					cursor:pointer;
					background:url('../_imgs/layout/bg_enviar-newsletter.png') #8a0c21 left 26px repeat-x;
				}
			}
		}
	}
}