.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.offscreen{display:block;text-indent:-9999px;}
.align-right{text-align:right;}
.centro{width:960px;padding:0 0;margin:0 auto;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.main-home #slideshow{width:630px;height:283px;position:relative;display:inline-block;*display:inline;zoom:1;vertical-align:top;}.main-home #slideshow #navegacao{position:absolute;width:12px;z-index:999;height:243px;top:18px;right:18px;}.main-home #slideshow #navegacao a{display:block;width:12px;height:78px;margin-bottom:3px;background:rgba(80, 101, 132, 0.8);-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-home #slideshow #navegacao a:hover,.main-home #slideshow #navegacao a.activeSlide{background:#fff;}
.main-home #slideshow #animate{position:absolute;top:0;left:0;}.main-home #slideshow #animate .slide{position:absolute;top:0;left:0;}.main-home #slideshow #animate .slide img{position:absolute;top:0;left:0;z-index:1;}
.main-home #slideshow #animate .slide .texto{z-index:2;padding:15px;width:350px;position:absolute;left:0;top:20px;color:#fff;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;line-height:140%;background-color:rgba(112, 127, 160, 0.8);}
.main-home #faixa{margin:10px 0 28px 0;padding:20px 0;border-top:1px #c6c6c6 solid;border-bottom:1px #c6c6c6 solid;font-family:'PT Serif','Verdana','Arial',sans-serif;font-size:19px;font-weight:normal;font-style:italic;text-align:center;color:#6d6d6d;}
.main-home #chamadas-home-container{font-size:0;margin-top:60px;}.main-home #chamadas-home-container .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:256px;margin-right:30px;padding:22px 22px 57px 22px;background:rgba(219, 219, 219, 0.4);position:relative;}.main-home #chamadas-home-container .coluna.ultima{margin-right:0;}
.main-home #chamadas-home-container .coluna h2{font-family:'Oswald','Verdana','Arial',sans-serif;font-size:17px;font-weight:normal;color:#344b75;line-height:100%;padding-top:90px;text-align:center;margin-bottom:10px;margin-top:-60px;}.main-home #chamadas-home-container .coluna h2.goog{background:url('../_imgs/layout/home_pesquisa.png') center top no-repeat;}
.main-home #chamadas-home-container .coluna h2.check{background:url('../_imgs/layout/home_controle.png') center top no-repeat;}
.main-home #chamadas-home-container .coluna h2.cog{background:url('../_imgs/layout/home_desenvolvimento.png') center top no-repeat;}
.main-home #chamadas-home-container .coluna p{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#626262;line-height:160%;text-align:justify;}
.main-home #chamadas-home-container .coluna a{width:100px;display:block;height:28px;line-height:28px;text-align:center;background:url('../_imgs/layout/bg_saiba-mais.png') #495d83 left top repeat-x;color:#fff;position:absolute;bottom:15px;left:100px;font-family:'PT Serif','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;font-style:italic;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-home #chamadas-home-container .coluna a:active,.main-home #chamadas-home-container .coluna a:visited{color:#fff;}
.main-home #chamadas-home-container .coluna a:hover{background:url('../_imgs/layout/bg_programe-sua-viagem.png') #495d83 left 28px repeat-x;}
.main-home #barra-newsletter{background-color:#ca262f;margin-top:25px;height:29px;padding:10px 15px;overflow:hidden;}.main-home #barra-newsletter .titulo{font-family:'OswaldL','Verdana','Arial',sans-serif;font-size:20px;font-weight:normal;color:#fff;}
.main-home #barra-newsletter #mensagem-newsletter{float:right;height:29px;line-height:29px;width:405px;background:url('../_imgs/layout/bg_enviar-newsletter.png') #8a0c21 left top repeat-x;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#fff;text-align:center;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-home #barra-newsletter #mensagem-newsletter.hid{color:#ca262f;height:0;}
.main-home #barra-newsletter form{float:right;height:29px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-home #barra-newsletter form.hid{height:0 !important;}.main-home #barra-newsletter form.hid input{height:0 !important;padding:0 !important;border:0 !important;margin:0 !important;}
.main-home #barra-newsletter form input{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.main-home #barra-newsletter form input[type="text"],.main-home #barra-newsletter form input[type="email"]{padding:7px;height:15px;line-height:15px;border:0;margin:0;color:#ca262f;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;width:133px;}
.main-home #barra-newsletter form input[type="text"]{margin-right:5px;}
.main-home #barra-newsletter form input[type="email"]{margin-right:10px;}
.main-home #barra-newsletter form input[type="submit"]{width:95px;height:29px;line-height:29px;text-align:center;color:#fff;border:0;margin:0;padding:0;background:url('../_imgs/layout/bg_enviar-newsletter.png') #8a0c21 left top repeat-x;font-family:'Oswald','Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-home #barra-newsletter form input[type="submit"]:hover{cursor:pointer;background:url('../_imgs/layout/bg_enviar-newsletter.png') #8a0c21 left 26px repeat-x;}
