.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.offscreen{display:block;text-indent:-9999px;}
.align-right{text-align:right;}
.centro{width:960px;padding:0 0;margin:0 auto;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
body.interna .main{padding-top:0;}body.interna .main #h1-container{height:77px;border-bottom:1px #c8c8c8 solid;background:rgba(230, 230, 230, 0.5);margin-bottom:20px;}body.interna .main #h1-container h1{height:77px;line-height:77px;width:960px;padding:0 0;margin:0 auto;}
body.interna .main .coluna-direita{margin-left:18px;width:612px;}body.interna .main .coluna-direita img{margin:15px 0;}
body.interna .main .coluna-direita p{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#676767;line-height:165%;margin-bottom:10px;}body.interna .main .coluna-direita p .destaque{color:#344b75;}
body.interna .main .coluna-direita h3{margin:18px 0 10px 0;font-family:'Oswald','Verdana','Arial',sans-serif;font-size:18px;font-weight:normal;color:#344b75;}
body.interna .main .coluna-direita ul,body.interna .main .coluna-direita ol{margin-bottom:10px;list-style:inside;}body.interna .main .coluna-direita ul li,body.interna .main .coluna-direita ol li{margin:4px 0;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#676767;}body.interna .main .coluna-direita ul li .destaque,body.interna .main .coluna-direita ol li .destaque{color:#344b75;}
body.interna .main .coluna-direita ol{list-style:none;}
body.interna .main.main-importacao .coluna-lateral{width:330px;margin-right:60px;}body.interna .main.main-importacao .coluna-lateral h2{font-family:'Oswald','Verdana','Arial',sans-serif;font-size:27px;font-weight:normal;color:#344b75;margin-bottom:15px;}
body.interna .main.main-importacao .coluna-lateral ul li.negativo{border-left-color:#ca262f;}body.interna .main.main-importacao .coluna-lateral ul li.negativo a:hover,body.interna .main.main-importacao .coluna-lateral ul li.negativo a.ativo{background-color:#ca262f;}
body.interna .main.main-importacao .coluna-lateral ul li a{font-family:'Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;}
body.interna .main.main-importacao .coluna-lateral #importante-saber{padding:11px;margin-top:20px;border:1px #dcdcdc solid;}body.interna .main.main-importacao .coluna-lateral #importante-saber h3{font-family:'Oswald','Verdana','Arial',sans-serif;font-size:16px;font-weight:normal;color:#344b75;margin-bottom:7px;}
body.interna .main.main-importacao .coluna-lateral #importante-saber p{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;line-height:150%;margin-bottom:10px;color:#5B5B5B;}
body.interna .main.main-importacao .coluna-direita{width:570px;margin-left:0;}body.interna .main.main-importacao .coluna-direita img{margin-bottom:1px;}
body.interna .main.main-importacao .coluna-direita .box{width:539px;padding:10px 13px;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#fff;line-height:150%;display:none;}body.interna .main.main-importacao .coluna-direita .box.nao{background:#ca262f;}
body.interna .main.main-importacao .coluna-direita .box.sim{background:#344b75;}
body.interna .main.main-importacao .coluna-direita .box p{color:#fff;margin:6px 0;}
body.interna .main.main-contato .coluna-lateral{width:330px;}body.interna .main.main-contato .coluna-lateral .mail-link{font-family:'Oswald','Verdana','Arial',sans-serif;font-size:26px;font-weight:normal;color:#344b75;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body.interna .main.main-contato .coluna-lateral .mail-link:active,body.interna .main.main-contato .coluna-lateral .mail-link:visited{color:#344b75;}
body.interna .main.main-contato .coluna-lateral .mail-link:hover{color:#ca262f;}
body.interna .main.main-contato .coluna-lateral .box-telefone{padding:15px 20px 15px 63px;background-color:rgba(220, 220, 220, 0.4);background-position:20px 18px;background-repeat:no-repeat;margin:15px 0;font-family:'Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;color:#344b75;}body.interna .main.main-contato .coluna-lateral .box-telefone.brasil{background-image:url('../_imgs/layout/br.png');}
body.interna .main.main-contato .coluna-lateral .box-telefone.china{background-image:url('../_imgs/layout/ch.png');}
body.interna .main.main-contato .coluna-lateral .box-telefone h2{font-family:'Oswald','Verdana','Arial',sans-serif;font-size:22px;font-weight:normal;margin-bottom:5px;}
body.interna .main.main-contato .coluna-direita{width:535px;margin-left:65px;}body.interna .main.main-contato .coluna-direita h4{font-family:'Oswald','Verdana','Arial',sans-serif;font-size:18px;font-weight:normal;color:#606060;margin:8px 0 15px 0;}
body.interna .main.main-contato .coluna-direita .resposta{color:#ca262f;font-family:'Oswald','Verdana','Arial',sans-serif;font-size:25px;font-weight:normal;text-align:center;}
body.interna .main.main-contato .coluna-direita form input[type="text"],body.interna .main.main-contato .coluna-direita form input[type="email"],body.interna .main.main-contato .coluna-direita form textarea{margin:0 0 5px 0;background-color:transparent;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#344b75;height:23px;border:2px #a5adc2 solid;width:511px;}
body.interna .main.main-contato .coluna-direita form input[type="text"],body.interna .main.main-contato .coluna-direita form input[type="email"]{line-height:23px;padding:7px 10px;}
body.interna .main.main-contato .coluna-direita form textarea{resize:none;padding:10px 10px;height:148px;}
body.interna .main.main-contato .coluna-direita form #submit-container{height:40px;margin-top:5px;}body.interna .main.main-contato .coluna-direita form #submit-container input[type="submit"]{font-family:'Oswald','Verdana','Arial',sans-serif;font-size:20px;font-weight:normal;color:#fff;height:40px;line-height:40px;width:110px;text-align:center;float:right;padding:0;margin:0;border:0;background:url('../_imgs/layout/bg_programe-sua-viagem.png') #495d83 left -5px repeat-x;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body.interna .main.main-contato .coluna-direita form #submit-container input[type="submit"]:hover{cursor:pointer;background:url('../_imgs/layout/bg_programe-sua-viagem.png') #495d83 left 40px repeat-x;}
