@import 'vars.less';

body{
	&.interna{
		.main{
			padding-top:0;
			#h1-container{
				height:77px;
				border-bottom:1px @cinza_escuro solid;
				background:rgba(230,230,230,.5);
				margin-bottom:20px;
				h1{
					height:77px;
					line-height:77px;
					.centralizar;
				}
			}
			.coluna-direita{
				margin-left:18px;
				width:612px;
				img{
					margin:15px 0;
				}
				p{
					.verdana(12px);
					color:#676767;
					line-height:165%;
					margin-bottom:10px;
					.destaque{ color:@azul; }
				}
				h3{
					margin:18px 0 10px 0;
					.oswald(18px);
					color:@azul;
				}
				ul, ol{
					margin-bottom:10px;
					list-style:inside;
					li{
						margin:4px 0;
						.verdana(12px);
						color:#676767;
						.destaque{ color:@azul; }
					}
				}
				ol{
					list-style: none;
				}								
			}
			&.main-importacao{
				.coluna-lateral{
					width:330px;
					margin-right:60px;
					h2{
						.oswald(27px);
						color:@azul;
						margin-bottom:15px;
					}
					ul{
						li{
							&.negativo{
								border-left-color: @vermelho;
								a:hover, a.ativo{
									background-color:@vermelho;
								}
							}
							a{
								.verdana(16px, bold);								
							}
						}
					}
					#importante-saber{
						h3{
							.oswald(16px);
							color:@azul;
							margin-bottom:7px;
						}
						padding:11px;
						margin-top:20px;
						border:1px #dcdcdc solid;
						p{
							.verdana(12px);
							line-height:150%;
							margin-bottom:10px;
							color:#5B5B5B;
						}
					}
				}
				.coluna-direita{
					width:570px;
					margin-left:0;
					img{ margin-bottom:1px; }
					.box{
						width:539px;
						padding:10px 13px;
						.verdana(12px);
						color:#fff;
						line-height:150%;
						display:none;
						&.nao{
							background:@vermelho;
						}
						&.sim{
							background:@azul;
						}
						p{
							color:#fff;
							margin:6px 0;
						}
					}					
				}
			}
			&.main-contato{
				.coluna-lateral{
					width:330px;
					.mail-link{
						.oswald(26px);
						color:@azul;
						.transition;
						&:active, &:visited{color:@azul;}
						&:hover{
							color:@vermelho;
						}
					}
					.box-telefone{
						padding:15px 20px 15px 63px;
						background-color:rgba(220,220,220,0.4);
						background-position:20px 18px;
						background-repeat:no-repeat;
						margin:15px 0;
						.verdana(16px, bold);
						color:@azul;
						&.brasil{ background-image: url('../_imgs/layout/br.png'); }
						&.china{ background-image: url('../_imgs/layout/ch.png'); }
						h2{
							.oswald(22px);
							margin-bottom:5px;
						}
					}
				}
				.coluna-direita{
					width:535px;
					margin-left:65px;
					h4{
						.oswald(18px);
						color:#606060;
						margin:8px 0 15px 0;
					}
					.resposta{
						color:@vermelho;
						.oswald(25px);
						text-align:center;
					}
					form{
						input[type="text"],
						input[type="email"],
						textarea{
							margin:0 0 5px 0;
							background-color:transparent;
							.verdana(14px);
							color:@azul;
							height:23px;
							border:2px #a5adc2 solid;
							width:511px;
						}
						input[type="text"],
						input[type="email"]{
							line-height:23px;
							padding:7px 10px;
						}
						textarea{
							resize:none;
							padding:10px 10px;
							height:148px;
						}
						#submit-container{
							height:40px;
							margin-top:5px;
							input[type="submit"]{
								.oswald(20px);
								color:#fff;
								height:40px;
								line-height:40px;
								width:110px;
								text-align: center;
								float:right;
								padding:0;
								margin:0;
								border:0;
								background:url('../_imgs/layout/bg_programe-sua-viagem.png') #495d83 left -5px repeat-x;
								.transition;
								&:hover{
									cursor:pointer;
									background:url('../_imgs/layout/bg_programe-sua-viagem.png') #495d83 left 40px repeat-x;									
								}
							}
						}
					}
				}
			}
		}
	}	
}