/*****************************************/
/*			VARIÁVEIS					 */
/*****************************************/
@largura:960px;
@cinza_claro:#f1f1f1;
@cinza_medio:#e6e6e6;
@cinza_escuro:#c8c8c8;
@azul:#344b75;
@vermelho:#ca262f;


/*****************************************/
/*			POSICIONAMENTO				 */
/*****************************************/

.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.offscreen{
	display:block;
	text-indent:-9999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}

.centro{
	.centralizar;
}


/*****************************************/
/*			FONTES						 */
/*****************************************/

.oswald(@fsize:12px, @fweight:normal){
	font-family: 'Oswald', 'Verdana', 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.oswaldL(@fsize:12px, @fweight:normal){
	font-family: 'OswaldL', 'Verdana', 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.verdana(@fsize:12px, @fweight:normal){
	font-family: 'Verdana', 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.georgia(@fsize:12px, @fweight:normal){
	font-family: 'PT Serif', 'Verdana', 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}


/*****************************************/
/*			APARÊNCIA					 */
/*****************************************/

.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}

.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }


/*****************************************/
/*			COMPORTAMENTO				 */
/*****************************************/
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;  
   -moz-transition:@prop @dur @type;  
   -o-transition:@prop @dur @type;  
   transition:@prop @dur @type;
}