@font-face {
    font-family: 'OswaldL';
    src: url('oswald-light_1-webfont.eot');
    src: url('oswald-light_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('oswald-light_1-webfont.woff') format('woff'),
         url('oswald-light_1-webfont.ttf') format('truetype'),
         url('oswald-light_1-webfont.svg#oswaldlight') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('oswald-regular_1-webfont.eot');
    src: url('oswald-regular_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('oswald-regular_1-webfont.woff') format('woff'),
         url('oswald-regular_1-webfont.ttf') format('truetype'),
         url('oswald-regular_1-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}